@media all and (max-width: 1023px){
    html{
        font-size :25px;
    }

    header {
        font-size : 20px;
        padding :  40px 20px;
        width: 100%;
    }

    header .logo{
        width: 5rem;
    }

    .content{
        margin-left: 0;
    }
    .content .txt a{
        font-size:30px;
        padding : 30px;
    }
    .thomas{
        position : absolute;
        left : 550px;
        width: 40%;
    }

    .foo

}
