html{
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}

body {
    font-size: 14px;
}
section {
    position : relative;
    width: 100%;
    min-height: 100vh;
    padding : 100px;
    display: flex;
    justify-content: flex-start ;
    align-items: center;
}

/***** LE HEADER *****/

header{
    position : fixed;
    top : 0;
    left: 0;
    width: 100%;
    padding : 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

header .logo{
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size : 2rem;
    font-weight: 900;
    color : #340860;
    width: 7%;
}
header .logo .img_logo{
    width: 15%;
}
header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}

header ul li a{
    display: inline-block;
    font-weight: 600;
    font-size : 1.1em;
    margin-left : 10px;
    padding : 8px 18px;
    text-decoration: none;
    user-select: none;
    transition : 0.5s;
}

header ul li a.active2{
    color : white;
    border-radius: 30px;
    background : #340860;
}

header ul li a:hover{
    text-decoration: none;
    transform:scale(1.1);
    color : #FAE8AA;
}

header a span{
    color : #3BAA15;

}
/*********************************/


/***** LE TEXTE  *****/

.content{
    position : relative;
    display: flex;
    margin-left: 15rem;
}
.content .txt{
    max-width: 550px;
}

.content .txt h1{
    color : #340860;
    font-size: 4rem;
    line-height : 1.2em;
    font-weight : 700;
}

.content .txt h2{
    color : black;
    font-size: 2rem;
    line-height : 1.2em;
    font-weight : 700;
}
.content .txt p{
    color : black;
    font-size: 1.5rem;
    line-height : 1.2em;
    font-weight : 700;
}
.content .txt a{
    background : #340860;
    color :white;
    display: inline-block;
    padding : 15px ;
    margin-top : 20px;
    border-radius : 20rem;
    transition : 0.5s;
}
.content .txt a:hover{
    background : #FAE8AA;
    text-decoration: none;
    letter-spacing: 2px;
    color : black;

}
/*********************************/


/***** RS *****/


.sci{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size:2rem;
}

.sci li{
    list-style: none;
}
.sci li i{
    color : white;
    margin-left: 15px;
    transition : 0.5s;

}

.hoverfb:hover{
    color : #1743B5;
}
.hovergit:hover{
    color : black;
}
.hoverinsta:hover{
    color : #BC4A09;
}
/*********************************/


/* IMAGE */
.thomas{
    position :absolute;
    left : 1000px;
    width :38%;
    max-height: 100%;

}
/*********************************/


/***** FOOTER *****/
.foot{
    background-color : #1E0339;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    width: 100%;
    z-index: 1000;

}
.foot p{
    display: flex;
    justify-content: center;
    margin-top : 1.5rem;
    color : white;
}


/*********************************/


.graph{
    position : relative;
    max-width :100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left : 6rem;
    margin-top: 16rem;


}
.graph2{
    position : relative;
    max-width : 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left : 6rem;
    margin-top: 2rem;

}
.fig{
    position : absolute;
    width : 10%;
    left : 1000px;
}
.graph p {
    width : 50%;
}
.for_width{
    max-width: 99%;
    margin-top : 3rem;
}

.Espacement2{
    margin-top: 2rem;
}



